.typebar_ul{
list-style-type: none;
margin: 100px 20px;
}

.typebar_li {
    margin: 20px 20px;
    font-size: 1.2vw;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}

.typebar_li:hover {
    font-size: 1.3vw;
}
